{% extends 'centered.html.twig' %}

{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <a href="{{ path('dashboard') }}" class="btn btn-primary">
          <i class="bi-house"></i> Dashboard
        </a>
        <a href="{{ path('about') }}" class="btn btn-secondary">
          <i class="bi-info-circle"></i> About
        </a>
      </div>
    </div>
  </div>
{% endblock %}